<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="app.component.css">
    <title>League of Legends Maps</title>


</head>
<body>

 
  <!-- Body Container -->
  <div class="maps-container">
    <form class="data-for-maps">
      <!-- Banner -->
      <div class="title">
        <h1>League of Legends Maps</h1>
      </div>
      
      <p>
        <a routerLink="products">Maps</a>
      </p>
      
      <router-outlet></router-outlet>
    </form>
  </div>
</body>
</html>